@import 'custom';
@import url(https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Poiret+One&display=swap);

$head-font: Cinzel, serif;
$main-font: Poiret One, cursive;
$main-color: #ededed;
$accent-color-dark: #33313b;
$accent-color-pink: #834c69;
$subtle-color: #3c4f65;

body {
    background: $main-color;
    font-family: $main-font;
    text-align: center;
    padding: 0 16px;
}  
h3 {
    padding-bottom: 2em;
}
h1 {
  font-family: $head-font;
}
.creatureSection {
  position: relative;
  margin: auto -16px;
  padding: 5em;
  text-align: center; 
}
.creatureSection {
  p {
    padding: 3.5rem;
  }
}
svg {
    color: $accent-color-dark;
    animation: svg 5s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
  }
  
  @keyframes svg {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }
.welcomePage {
  padding: 6em; 
}
.welcomeBlurb {
  padding: 2rem;
  text-align: center;
}
footer {
  padding: 2rem;
  margin: auto -16px;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  border-top: 1px double $subtle-color;
  background-color: $main-color;
  color: $subtle-color;
  position: fixed;
}

@media screen and (min-width: 1250px) {
  .welcomePage {
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 2em;
    }
  }
}

@media screen and (min-width: 955px) {
  .welcomePage{
    padding: 4em;
  }
  p {
    font-size: 3em;
    margin-bottom: 1em;
  }
  footer {
    p {
      font-size: 1.2em;
    }
  }
}

@media screen and (min-width: 590px) {
  .creatureSection{
    p {
      font-size: 2em;
      margin-bottom: 1em;
      padding-top: 2rem;
      padding-bottom: 0;
    }
  }
  footer {
    p {
      font-size: 1.2em;
    }
  }
}

@media screen and (min-width: 450px) {
  .creatureSection{
    h1 {
      font-size: 3em;
    }
    p {
      font-size: 2.5em;
      margin-bottom: 1em;
      padding-top: 2rem;
      padding-bottom: 0;
    }
  }
}



