$head-font: Cinzel, serif;
$main-font: Poiret One, cursive;
$main-color: #ededed;
$section-color: #dfdfdf;
$accent-color-dark: #33313b;
$accent-color-pink: #834c69;
$subtle-color: #3c4f65;


header {
    background: $accent-color-dark;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 #000000;
  }

header {
    h1 {
        color: $main-color;
        font-family: $head-font; 
        font-weight: 400;
        margin: 4rem 0;
    }
}



/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";